

.author {
      color:red;
      font-size: 50px;
}

.ted {
      height:5rem;
}

.navigation {
      font-family: Arial, Helvetica, sans-serif;
      color: black;
      font-size: 20px;   
}

.founder {
      font-family:Arial, Helvetica, sans-serif ;
      color: green;
}

.hostof {
      font-family: 'Times New Roman', Times, serif;
      color: blue;
      font-size: 20px;
      font-weight: 900;
}

.work {
      font-family:Arial, Helvetica, sans-serif;
      font-size: 25px;
      color: red;
      margin-left: 20px;
}

.published {
      font-family: 'Times New Roman', Times, serif;
      font-weight: 800;
      font-size: 25px;
      margin-left: 30px;
}

.stuffpublished {
      background-color:lightcyan;
}

.resume {
      font-size: 20px;
      margin-left: 30px;
      font-family: Arial, Helvetica, sans-serif;
}

.actual {
      
      display: inline;
      background-color: blue;
      
}

.programming {
      font-family:Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: 600;
      color: blue;
      margin-left: 20px;
}

.stories {
      display:block;
      position: relative;
      width: 500px;
      left: 30%;
      border-style: solid;
      padding: 30px;
      margin-top: 20px;
      background-color: azure;
      margin-bottom: 100px;
}

.freelancewriter-title {
      color: green;
      display: block;
      position: relative;
      left: 30%;
      width:500px;
      padding: 30px;
      margin-top: 60px;
      border-style: solid;
      border-color: blue;
      font-family: Arial, Helvetica, sans-serif;
      background-color:antiquewhite;

}

.table {
      font-size: medium;
      font-family: Arial, Helvetica, sans-serif;
      
}

.pictures {
      
      display: flex;
      flex-direction: row;
      width:fit-content;
      margin-left: 10%;
      margin-top: 50px;
      gap: 20px;
}

.realpic {
   
      height: 40rem;
}

.pictitle {
      display: block;
      position:relative;
      left: 40%;
      height:fit-content;
      width:fit-content;
      align-self:  center;
      padding:20px;
      border-style: solid;
      border-color: green;
      font-family:Arial, Helvetica, sans-serif;
      font-weight: 600;
      
}

.ownerof {
      color:crimson;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.aboutbox {
      display:block;
      margin: 100px;
      position: relative;
      left: 10px;
      font-family:'Times New Roman', Times, serif ;
      font-size:xx-large;

}

.clickme {
      margin: 50px;
}

.bottom {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 1rem;
      
}

.contact {
      display: block;
      border-radius: 10%;
      background-color: lightgreen;
      border: solid;
      text-align: center;
      
      

}

.hobby {
      display: block;
      border-radius: 10%;
      background-color: lightgreen;
      border: solid;
      text-align: center;
}

.me {
      display: block;
      border-radius: 10%;
      background-color: lightgreen;
      border: solid;
      text-align: center;
}


