.author {
      color:brown;
      font-size: 50px;
}

.navigation {
      font-family: Arial, Helvetica, sans-serif;
      color: black;
      font-size: 30px;
}

.founder {
      font-family:Arial, Helvetica, sans-serif ;
      color: green;
}

.hostof {
      font-family: 'Times New Roman', Times, serif;
      color: blue;
      font-size: 20px;
}

.work {
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-size: 25px;
      color: red;
}

.published {
      font-family: 'Times New Roman', Times, serif;
      font-weight: 800;
      font-size: 25px;
      margin-left: 30px;

}

.resume {
      font-size: 20px;
      margin-left: 30px;
      font-family: Arial, Helvetica, sans-serif;
}

.actual {
      
      display: inline;
      background-color: blue;
      
}
